th a {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

.gridItem {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #a5b300;
  color: #ffffff;
  padding: 1em;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em; }

.eventTitle {
  font-size: 16px;
  font-weight: bold;
  background-color: #257220;
  padding: 0.5em;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.eventBody {
  margin-top: 2em;
  min-height: 40px; }

.eventLabel {
  font-weight: bold; }

.eventTypes {
  min-height: 40px; }

.pagination > .active > a {
  background-color: #a5b300;
  border: #257220; }

.resetButtonGrid {
  padding: 0.5em 1em;
  background-color: #a5b300;
  color: #ffffff;
  margin-top: 0.5em; }

.grid-btn .btn {
  background-color: #a5b300;
  color: #ffffff; }

.ashfields {
  padding-top: 1em; }

#search {
  float: right;
  margin: 1em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 3px 5px;
  font-style: italic; }

.ashfields h3 {
  margin-left: 0.5em; }
