		 <div class="row">
		  <h2>Event details</h2>
		  <!-- Filters -->
			  <div class="col-sm-2">
			  	<button class="btn btn-default  btn-sm resetButton" type="reset" ng-click="reset()" >Reset </button>
			
			  	
			  </div>
			  
			 <div class="col-sm-10">
				  <label> Filter by Category</label>
				  <select ng-model="queryCategories">
					 <option value="">ALL</option> <!-- not selected / blank option -->
				 	 <option value="{{ singleTaxonomy }}"  ng-repeat="singleTaxonomy in allTaxonomies track by $index"  >  
				  			{{ singleTaxonomy }}
				  </option>
				  </select>
			 </div>
		 </div>
		<!-- Start Date / End Date filter -->
		<div class="row">
			<div class="col-sm-6">
				  <label>Start Date</label>
			        <p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popup1.opened" on-open-focus="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
			   </div>
			
			  <div class="col-sm-6" >
				  <label>End Date</label>
			        <p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
			</div>
		</div>
		<!-- Start Date/End Date End -->

	<!-- Main details  -->
	  <table class="table table-bordered table-striped">
	    <thead>
	      <tr>
	        <th><a ng-click= "orderByField='title';">Event name</a></th>
	        <th><a ng-click= "orderByField='body';">Description</a></th>
	        <th><a ng-click= "orderByField='field_event_types';">Categories</a></th>
	        <th><a ng-click= "orderByField='field_event_date';">Date</a></th>
	        <th><a ng-click= "orderByField='field_event_date_1';">Time</a></th>
	      </tr>
	    </thead>
	    <tbody>
		    
		    
		   
	      <tr class="postersearch"  ng-repeat="eventData in filterdData = ( eventDatas | orderBy:orderByField | filter: {field_event_types : queryCategories}  | dateFilterEvents:startDate:endDate:eventDatas ) | limitTo:5:5*(currentPage-1)" >
		      <td>{{ eventData.title }}</td>
		      <td>{{ eventData.body }}</td>
		     
		       <td>
			       {{ eventData.field_event_types }}
			       </td>
		      <td><span>{{ eventData.field_event_date}}</span></td>
			  <td><span>{{ eventData.field_event_date_1}}</span></td>
	      </tr>
	    </tbody>
	  </table>
	  <!-- Main Details end -->
	  <!-- Pagination -->
	   <ul uib-pagination items-per-page ="itemsPerPage" total-items="filterdData.length" ng-model="currentPage" ng-change="pageChanged()"></ul>
    
  </div>