	<div class="ashfields">
		<div class="row">
			<div class="col-sm-6">
				<img src="imgs/healthcareTop.png">
			</div>
			<div class="col-sm-6">
				<input type="text" name="s" id="search" value="" placeholder="Search" ng-model="searchQuery">
			</div>
		</div>
		 <div class="row">
		  
		  <h3>Filter</h3>
		  <!-- Filters -->
			  <div class="col-sm-1">
			  	<button class="btn btn-default btn-sm resetButtonGrid" type="reset" ng-click="reset()" >Reset </button>
			
			  	
			  </div>
			  
			 <div class="col-sm-3">
				  <label>Category</label><br/>
				  <select ng-model="queryCategories">
					 <option value="">ALL</option> <!-- not selected / blank option -->
				 	 <option value="{{ singleTaxonomy }}"  ng-repeat="singleTaxonomy in allTaxonomies track by $index"  >  
				  			{{ singleTaxonomy }}
				  </option>
				  </select>
			 </div>
		
		<!-- Start Date / End Date filter -->
		
			<div class="col-sm-4">
				  <label>Start Date</label>
			        <p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popup1.opened" on-open-focus="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn grid-btn">
			            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
			   </div>
			
			  <div class="col-sm-4" >
				  <label>End Date</label>
			        <p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn grid-btn">
			            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
			</div>
		</div>
		<!-- Start Date/End Date End -->

	<!-- Main details  -->
			    
		    
		<div class="row"> 
	      <div class="gridEvent col-sm-4"  ng-repeat="eventData in filterdData = ( eventDatas | orderBy:orderByField | filter: {field_event_types : queryCategories} | filter:searchQuery | dateFilterEvents:startDate:endDate:eventDatas ) | limitTo:6:6*(currentPage-1)"  ng-class="{ 'expanded': $index == selectedIndex }"   ng-click="itemClicked($index)">
		      <div class="gridItem">
			      <p class="eventTitle">{{ eventData.title }}</p>
			      <p class="eventBody">{{ eventData.body | limitTo:letterLimit }}...</td>
				  <p class="eventTypes"><span class="eventLabel">Categories: </span>{{ eventData.field_event_types }}</p>
			      <p class="eventDate"><span class="eventLabel">Date: </span>{{ eventData.field_event_date}}</p>
				  <p class="eventTime"><span class="eventLabel">Time: </span>{{ eventData.field_event_date_1}}</p>
			  </div>
	      </div>
	   </div>
	   
	  <!-- Main Details end -->
	  <!-- Pagination -->
	    <ul uib-pagination items-per-page ="itemsPerPage" total-items="filterdData.length" ng-model="currentPage" ng-change="pageChanged()"></ul>
    
  </div>
  </div>