.gridItem { @include roundedCorners(10px); background-color: $ashfieldgreen; color: $white; padding: $defaultPadding; position: relative; overflow: hidden; margin-bottom: $defaultPadding;}
.eventTitle {font-size: 16px; font-weight: bold; background-color: $ashfieldDarkgreen; padding: $halfPadding; width: 100%; position: absolute; left:0; top:0;}
.eventBody {margin-top: $defaultPadding*2; min-height: 40px;}
.eventLabel {font-weight: bold;}
.eventTypes {min-height: 40px;}
.pagination>.active>a {background-color: $ashfieldgreen; border: $ashfieldDarkgreen;}
.resetButtonGrid {padding: $halfPadding $defaultPadding; background-color: $ashfieldgreen; color: $white; margin-top: $halfPadding;}
.grid-btn .btn {background-color: $ashfieldgreen; color: $white;}