@mixin roundedCorners ($radius: 0.5em) {
  -webkit-border-radius:  $radius;; 
  -moz-border-radius:  $radius;;
  border-radius:  $radius;;
}

$gray: #333333;
$white: #ffffff;
$black: #000000;
$ashfieldgreen: #a5b300;
$ashfieldDarkgreen: #257220;
$ashfieldBlue: #0062a1;
$defaultPadding: 1em;
$halfPadding: 0.5em;

th a { cursor: pointer; }
img { max-width: 100%; height: auto;}