.ashfields {padding-top: $defaultPadding;}
#search { float: right; margin: $defaultPadding; @include roundedCorners(20px); padding: 3px 5px; font-style: italic;}
.ashfields h3{margin-left: $halfPadding;}